<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
		<File name="MyFile" fileName="C:\apache-tomcat-8.0.41/logs/backend.log">
	      <PatternLayout>
	        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
	      </PatternLayout>
    	</File>
    </Appenders>
    <Loggers>
        <Logger name="com.opensymphony.xwork2" level="info"/>
        <Logger name="org.apache.struts2" level="info"/>
        <Logger name="io.stickers" level="debug"/>
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
			<AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>